<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Gugul</title>
</head>
<body>
    <div class="logo-container">
        <div class="logo">
            <span style="color:#0086F9">G</span>
            <span style="color:#FF4131">u</span>
            <span style="color:#FEBD00">g</span>
            <span style="color:#0086F9">u</span>
            <span style="color:#01AB4B">l</span>
        </div>
        <form action="/search" class="search-container" method="post">
            <input class="search-input" name="busqueda" type="text" placeholder="Busqueda">
            <a class="search-button"><button>Buscar con Gugul</button></a>
        </form>
    </div>
    <!--
    <main class="main">
        <img src="/static/images/google.svg" alt="logo here" width="30%" class="logo">
        <div class="box">
            <input type="image" name="search-boton" src="/static/images/search.jpeg" alt="icon-search" class="icon-search">
            <input type="text" name="search-text" class="tsearch" id="words">
        </div>

        <div id="pages" class="container">
            <p>Resultados:</p>    
        </div>

    </main>    
    <script src="/static/js/app.js"></script>
    -->
</body>
</html>















